// @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
body {
  font-family: "HunInn", "Noto Sans TC", sans-serif;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

a {
  color: #555b6e;
}

a:hover {
  color: #89b0ae;
  text-decoration: none;
}

.breadcrumb {
  background-color: transparent;
}

.price {
  line-height: 1;
  font-weight: bold;
  text-decoration: none;
  color: #aa1c20;
  font-size: 1.2em;
  margin-bottom: 1.2rem;
  margin-top: 0.2rem;
}

#navbar {
  margin: 0 auto;
  border: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #faf9f9;
  transition: 0.3s linear box-shadow;
  box-shadow: 0 0 0em rgba(0, 0, 0, 0);
  border-bottom: 1px solid #eee;

  .dropdown-item {
    color: #555b6e;
  }

  .dropdown-item:hover {
    color: #89b0ae;
  }

  .dropdown-item:active {
    background-color: #faf9f9;
  }
}

#shop {
  @media (max-width: 767px) {
    .shop-box .head {
      text-align: center;
    }
  }
  .shop-box ul > li {
    padding-left: 0.5rem;
    text-align: left;
    text-indent: -1rem;
    margin: 0 0 1.4em 0;
    line-height: 1;
  }
  .shop-box ul > li > a {
    font-size: 14px;
  }

  .head {
    text-align: right;
    font-size: 1.2rem;
    background: #faf9f9;
    margin-bottom: 2rem;
    margin-top: -0.6rem;
    padding-bottom: 0.2rem;
  }
}

#products {
  .item-description {
    text-align: left;

    h3 {
      line-height: 1.2;
      margin-top: 0;
      font-size: 2.6em;
      font-weight: 200;
      margin-bottom: 0.46em;
    }

    h4 {
      font-size: 1em;
      margin: 0;
      margin-bottom: 1em;
      color: #b09999;
    }

    p {
      color: #666;
      line-height: 1.8;
      letter-spacing: 1px;
      margin: 0 0 1em 0;
    }
  }

  .item-image {
    img {
      max-width: 100%;
    }
  }

  .btn-buy {
    background-color: #555b6e;
    color: #faf9f9;
    border-radius: 0;
    text-align: center;
    margin-top: 1.2rem;
    height: 4rem;
    width: 100%;
  }

  .btn-buy:hover {
    border: 1px solid #555b6e;
    background-color: #faf9f9;
    color: #555b6e;
  }

  .btn-buy:focus {
    box-shadow: none;
  }

  .nav-tabs .nav-link.active {
    background-color: #555b6e;
    color: #faf9f9;
    border-color: transparent;
    border-radius: 0;
  }

  .nav-tabs {
    border-bottom: 2px solid #555b6e;
  }

  .nav-link:focus {
    border-color: transparent;
    outline: none;
  }

  .nav-tabs .nav-link:hover {
    border-color: transparent;
  }

  img {
    max-width: 100%;
  }
}

#home {
  .story-image {
    img {
      max-width: 100%;
    }
  }
}

#faq {
  img {
    max-width: 100%;
  }

  text-align: left;
}

.link-item {
  .link-item-cover {
    padding-bottom: 80%;
    display: block;
    position: relative;
  }
  .bg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s linear;
  }

  .bg:hover {
    opacity: 0.8;
    transform: scale(1.02);
  }

  .link-item-text {
    padding-top: 1rem;
    display: block;
    color: #555b6e;
    text-decoration: none;
  }

  .link-item-text:hover {
    color: #89b0ae;
    text-decoration: none;
  }
}

#login,
#reg {
  .form {
    padding: 30px;
    margin: 30px 0;
    background: #fff;
    -moz-box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
  }

  .form-control {
    border-radius: 0;
    color: #555b6e;
  }

  .btn {
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  button {
    background-color: #555b6e;
    color: #faf9f9;
    border-radius: 0;
    text-align: center;
  }

  button:focus {
    box-shadow: none;
  }

  button:hover {
    border: 1px solid #555b6e;
    background-color: #faf9f9;
    color: #555b6e;
  }
}

#cart {
  .quantity {
    justify-content: center;
  }

  .btn-remove {
    border-radius: 0;
    text-align: center;
    height: 2.6rem;
    box-sizing: border-box;
  }

  .btn-remove:focus {
    box-shadow: none;
  }

  .btn-remove:hover {
    color: #aa1c20;
  }

  .wizard-btn {
    background-color: #555b6e;
    color: #faf9f9;
    border-radius: 0;
    text-align: center;
  }

  .cart-head {
    justify-content: center;
    align-items: center;
    background-color: #555b6e;
    color: #faf9f9;
  }

  .cart-item {
    justify-content: center;
    align-items: center;

    border-top: 1px solid #555b6e;
    border-left: 1px solid #555b6e;
    border-right: 1px solid #555b6e;
  }

  .cart-item:last-child {
    border-bottom: 1px solid #555b6e;
  }

  .order-head {
    justify-content: center;
    align-items: center;
    background-color: #aa1c20;
    color: #faf9f9;
  }

  .order-item {
    justify-content: center;
    align-items: center;

    border-top: 1px solid #b09999;
    border-left: 1px solid #b09999;
    border-right: 1px solid #b09999;
  }

  .order-item:last-child {
    border-bottom: 1px solid #b09999;
  }

  .payable {
    border-top: 1px solid #b09999;
    color: #aa1c20;
  }

  .finish-button {
    background-color: #aa1c20 !important;
    border: 1px solid #aa1c20 !important;
    color: #faf9f9 !important;
    transition: 0.25s;
  }

  .finish-button:hover {
    background-color: #faf9f9 !important;
    border: 1px solid #aa1c20 !important;
    color: #aa1c20 !important;
  }
}
