@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
}

$mainColor: #555b6e;
$secondaryColor: #89b0ae;

// 尺寸以下隱藏
@media (max-width: 575.98px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .hidden-md {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (max-width: 1199.98px) {
  .hidden-xl {
    display: none !important;
  }
}

.swal2-popup {
  border-radius: 0 !important;
}

.swal2-styled.swal2-confirm {
  border-radius: 0 !important;
}

#app {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $mainColor;

  position: relative;
  min-height: 100vh;

  #contant {
    padding-bottom: 6rem;
  }

  #footer {
    .copyright {
      color: #89b0ae;
      margin: 1rem auto;
    }

    border-top: 1px solid #eee;
    background: #faf9f9;
    position: absolute;
    bottom: 0;
    width: 100%;
    // height: 5rem;
  }

  a {
    color: $mainColor;
  }

  a:hover {
    color: $secondaryColor;
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  .breadcrumb {
    background-color: transparent;
  }

  .price {
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
    color: #aa1c20;
    font-size: 1.2em;
    margin-bottom: 1.2rem;
    margin-top: 0.2rem;
  }

  .link-item {
    .link-item-cover {
      padding-bottom: 80%;
      display: block;
      position: relative;
    }
    .bg {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s linear;

      &:hover {
        opacity: 0.8;
        transform: scale(1.02);
      }
    }

    .link-item-text {
      padding-top: 1rem;
      display: block;
      color: $mainColor;
      text-decoration: none;

      &:hover {
        color: $secondaryColor;
        text-decoration: none;
      }
    }
  }
}

#navbar {
  margin: 0 auto;
  border: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #faf9f9;
  transition: 0.3s linear box-shadow;
  box-shadow: 0 0 0em rgba(0, 0, 0, 0);
  border-bottom: 1px solid #eee;
}

.heading {
  @media (max-width: 991.98px) {
    h4 {
      font-size: 2.6em;
      letter-spacing: 2px;
      margin-left: 4px;
    }
  }

  h4 {
    font-size: 2.8em;
    letter-spacing: 4px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
  }

  @media (max-width: 767.98px) {
    h5 {
      font-size: 1em;
      margin-top: 0.2em;
      margin-left: 2px;
      letter-spacing: 2px;
    }
  }

  h5 {
    font-size: 1em;
    margin-top: 0.4em;
    margin-bottom: 2em;
    margin-left: 4px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  h5::after {
    content: "";
    display: block;
    width: 4em;
    height: 2px;
    background: $secondaryColor;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}

#shop {
  @media (max-width: 767px) {
    .shop-box .head {
      text-align: center;
    }
  }
  .shop-box ul > li {
    padding-left: 0.5rem;
    text-align: left;
    // text-indent: -.5rem;
    margin: 0 0 1.4em 0;
    line-height: 1;
  }
  .shop-box ul > li > a {
    font-size: 14px;
  }

  .head {
    text-align: right;
    font-size: 1.2rem;
    background: #faf9f9;
    margin-bottom: 2rem;
    margin-top: -0.6rem;
    padding-bottom: 0.2rem;
  }
}

#products {
  .item-description {
    text-align: left;

    h3 {
      line-height: 1.2;
      margin-top: 0;
      font-size: 2.6em;
      font-weight: 200;
      margin-bottom: 0.46em;
    }

    h4 {
      font-size: 1em;
      margin: 0;
      margin-bottom: 1em;
      color: #b09999;
    }

    p {
      color: #666;
      line-height: 1.8;
      letter-spacing: 1px;
      margin: 0 0 1em 0;
    }
  }

  .item-image {
    img {
      max-width: 100%;
    }
  }

  .btn-buy {
    background-color: $mainColor;
    color: #faf9f9;
    border-radius: 0;
    text-align: center;
    margin-top: 1.2rem;
    height: 4rem;
    width: 100%;

    &:hover {
      border: 1px solid $mainColor;
      background-color: #faf9f9;
      color: $mainColor;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .nav-tabs {
    border-bottom: 2px solid $mainColor;

    .nav-link {
      &.active {
        background-color: $mainColor;
        color: #faf9f9;
        border-color: transparent;
        border-radius: 0;
      }

      &:focus {
        border-color: transparent;
        outline: none;
      }

      &:hover {
        border-color: transparent;
      }
    }
  }
}

#home {
  .story-image {
    img {
      max-width: 100%;
    }
  }
}

#faq {
  img {
    max-width: 100%;
  }

  // text-align: left;

  .step-item {
    color: #555b6e;
    margin-bottom: 3rem;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
  }
}

#login,
#reg {
  .form {
    padding: 30px;
    margin: 30px 0;
    background: #fff;
    -moz-box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
  }

  .form-control {
    border-radius: 0;
    color: $mainColor;
  }

  input:focus {
    outline: none;
  }

  button {
    width: 100%;
    background-color: $mainColor;
    color: #faf9f9;
    border-radius: 0;
    text-align: center;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      border: 1px solid $mainColor;
      background-color: #faf9f9;
      color: $mainColor;
    }
  }
}

#cart {
  label {
    display: block;
    cursor: pointer;
  }

  .btn-remove {
    border-radius: 0;
    text-align: center;
    height: 2.6rem;
    box-sizing: border-box;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      color: #aa1c20;
    }
  }

  .wizard-btn {
    background-color: $mainColor;
    color: #faf9f9;
    border-radius: 0;
    text-align: center;
  }

  .head {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: $mainColor;
    color: #faf9f9;
  }

  .order > .head {
    background-color: #aa1c20;
    color: #faf9f9;
  }

  .item {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: center;
    align-items: center;

    border-top: 1px solid $mainColor;
    border-left: 1px solid $mainColor;
    border-right: 1px solid $mainColor;

    &:last-child {
      border-bottom: 1px solid $mainColor;
    }
  }

  .cart > .item {
    min-height: 150px;
  }

  .order > .item {
    border-top: 1px solid #b09999;
    border-left: 1px solid #b09999;
    border-right: 1px solid #b09999;

    &:last-child {
      border-bottom: 1px solid #b09999;
    }
  }

  .payable {
    border-top: 1px solid #b09999;
    color: #aa1c20;
  }

  .finish-button {
    background-color: #aa1c20 !important;
    border: 1px solid #aa1c20 !important;
    color: #faf9f9 !important;
    transition: 0.25s;

    &:hover {
      background-color: #faf9f9 !important;
      color: #aa1c20 !important;
    }
  }

  .detail {
    align-items: center;
    justify-content: center;
  }

  .quantity {
    justify-content: center;
  }

  @media (max-width: 767.98px) {
    .detail {
      padding-right: 0.5rem;
      align-items: center;
      justify-content: start;
      text-align: left;
    }

    .quantity {
      justify-content: start;
    }
  }
}

#order {
  .head {
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: $mainColor;
    color: #faf9f9;
  }

  .item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;

    border-top: 1px solid $mainColor;
    border-left: 1px solid $mainColor;
    border-right: 1px solid $mainColor;

    &:last-child {
      border-bottom: 1px solid $mainColor;
      margin-bottom: 2rem;
    }
  }

  .product {
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }

  .border {
    display: none;
  }

  @media (max-width: 767.98px) {
    .detail {
      text-align: left;
    }

    .border {
      display: block;
    }
  }
}

#news {
  .post-item {
    margin-bottom: 3rem;
    margin-top: 3rem;
    justify-content: center;
  }
}

#about {
  .about-item {
    margin-bottom: 3rem;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
  }
}
